<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>My Dating Website</title>
</head>
<body>

    <nav class="navbar navbar-light bg-light mb-3">
        <span class="navbar-brand mb-0 h1">My Dating Website</span>
        <span class="text-right"><a href="admin">Admin</a></span>
    </nav>
    <div class="container">
        <div class="row border rounded p-3">
            <div class="col-md-6 py-2">
                <h3 class="text-center">My Dating Website</h3>
                <p class="mb-4">
                    Welcome to the web's most successful dating website.
                    At <span class="font-weight-bold">My Dating Website</span> you'll meet another like minded individuals.
                    We have the highest success rate of couples on the web.
                    User's are matched by interest and location.
                    Find out why so many others have found love on out site!
                </p>

                <h5 class="text-center mb-2"> Hear what our users are saying about us.</h5>
                <div class="row px-5 pt-2 mb-3 border border-left-0 border-right-0">

                    <ul class="list-unstyled font-italic">
                        <li class="mb-2">"I met the love of my life after only a month!" - Andrea</li>
                        <li class="mb-2">"It was so easy to set up and profile and start meeting people. I didn't realize how many others were looking for love in my area." - John Smith</li>
                        <li>"Just try it! You'll never be the same!" - Sarah</li>
                    </ul>
                </div>
                <div class="row justify-content-center">
                    <a href="signUp/personalInfo" class="btn btn-primary" role="button" aria-pressed="true">Create a Profile!</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/splash.jpg" class="rounded img-fluid" alt="dating">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>